.header {
  height: 10vh;
  display: flex;
  background-color: #0096d5;
}

.header .header__Logo {
  color: rgb(254, 254, 255);
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.header .header__Logo .header__Logo--Img {
  position: relative;
  top: -30px;
  left: 140px;
  cursor: pointer;
  object-fit: cover;
  width: 250px;
  height: 150%;
}

.header__Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}


.header__Menu .header__Menu--Link {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}

.header__Menu .header__Menu--Link:hover {
  color: rgb(153, 153, 155);
  transition: 2s;
}