
.footerRedes{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.footerRedes__Copy{
    font-size: 20px;
}
.footerRedes__Icon{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin: auto 0;
}