.SoftwareInfo {
  background-color: #f7f7f7;
  height: 1500px;
}

.divInfo {
  position: relative;
  top: 40px;
}

.h2info {
  text-align: center;
}

.PInfo {
  position: relative;
  left: 500px;
  top: 2px;
  width: 50%;
}

.divArticle {
  display: flex;
}

.articuloServicio {
  position: relative;
  left: 300px;
  margin-top: 100px;
}

.article {
  position: relative;
  left: 300px;
  margin-top: 100px;
}
