.header {
  height: 10vh;
  display: flex;
  background-color: #0096d5;
}

.header .header__Logo {
  color: rgb(254, 254, 255);
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.header .header__Logo .header__Logo--Img {
  cursor: pointer;
  object-fit: cover;
  width: 200px;
  height: 100%;
}

.header__Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}


.header__Menu .header__Menu--Link {
  margin: 0 1rem;
}

.header__Menu .header__Menu--Link:hover {
  color: rgb(213, 213, 218);
  transition: 2s;
}