.Equipo {
  margin: 10% 0 10%;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.divEquipo {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.foto {
  width: 50%;
  object-fit: cover;
}
