

input {
  background-color: transparent;
  color: white;
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  border-bottom: 1px solid #bbb;
  padding: 16px;
}
.formulario .formulario__Invitacion .h3{
  position: relative;
  left: 42.8%;
  width: 300px;
}

.formulario__Invitacion {
  display: grid;
  margin: auto;
}

.formulario {
  margin: auto;
  display: grid;
}
.formulario .formulario__Invitacion h3{
  position: relative;
  left: 46.8%;
  width: 300px;
}

.formulario .formulario__Invitacion .p{
  position: relative;
  margin: auto;
  width: 100%;
}
.formulario__ContainerForm--Form {
  display: grid;
}

.formulario__ContainerForm .formulario__ContainerForm--Form .uno {
  width: 700px;
  position: relative;
  top: 40px;
  margin: auto;
}

.formulario__ContainerForm .formulario__ContainerForm--Form .dos {
  width: 700px;
  position: relative;
  top: 40px;
 
  margin: auto;
}
.formulario__ContainerForm .formulario__ContainerForm--Form .tres {
  width: 700px;
  position: relative;
  top: 40px;
  margin: auto;
}

.formulario__ContainerForm .formulario__ContainerForm--Form .uno {
  width: 700px;
  position: relative;
  top: 40px;
  margin: auto;
}

.formulario__ContainerForm .formulario__ContainerForm--Form textarea {
  position: relative;
  top: 80px;
  margin: auto;
  width: 700px;
}
.formulario__ContainerForm .formulario__ContainerForm--Form .buttons {
  width: 100%;
  margin-top: 100px;
}

.formulario__ContainerForm .formulario__ContainerForm--Form .buttons  Button{
  position: relative;
  margin:  20px auto;
}


