

input {
  background-color: transparent;
  color: white;
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  border-bottom: 1px solid #bbb;
  padding: 16px;
}
.formulario .formulario__Invitacion .h3{
  position: relative;
  top: 20px;
  left: 850px;
}
.formulario .formulario__Invitacion h3{
  position: relative;
  top: 20px;
  left: 880px;
}

.formulario .formulario__Invitacion .p{
  position: relative;
  top: 20px;
  left: 600px;
}
.formulario__ContainerForm--Form {
  display: grid;
}

.formulario__ContainerForm .formulario__ContainerForm--Form .uno {
  width: 700px;
  position: relative;
  top: 40px;
  left: 575px;
}

.formulario__ContainerForm .formulario__ContainerForm--Form .dos {
  width: 700px;
  position: relative;
  top: 40px;
  left: 575px;
}
.formulario__ContainerForm .formulario__ContainerForm--Form .tres {
  width: 700px;
  position: relative;
  top: 40px;
  left: 575px;
}

.formulario__ContainerForm .formulario__ContainerForm--Form .uno {
  width: 700px;
  position: relative;
  top: 40px;
  left: 575px;
}

.formulario__ContainerForm .formulario__ContainerForm--Form textarea {
  position: relative;
  top: 80px;
  left: 585px;
  width: 700px;
}
.formulario__ContainerForm .formulario__ContainerForm--Form .buttons {
  position: relative;
  top: 80px;
  left: 850px;
  width: 800px;
}


