/* Seccion sobre ventajas */
.ventajas{
    display: grid;
    padding: 3rem 0;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "description"
    "ventajas1"
    "ventajas2"
    ;
}

/* Primer bloque explicativo de la seccion sobre ventajas */
.ventajas .ventajas__Description{
    grid-area: description;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.ventajas  .ventajas__PrimerBloque{
    grid-area: ventajas1;
    display: flex;
}
.ventajas  .ventajas__PrimerBloque .ventajas__PrimerBloque--Gastos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.ventajas  .ventajas__PrimerBloque .ventajas__PrimerBloque--Gastos p {
    width: 70%;
    margin: 0 auto;
}
.ventajas  .ventajas__PrimerBloque .ventajas__PrimerBloque--Tiempo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.ventajas  .ventajas__PrimerBloque .ventajas__PrimerBloque--Tiempo p {
    width: 70%;
    margin: 0 auto;
}


/* Segundo bloque explicativo de la seccion sobre ventajas */
.ventajas  .ventajas__SegundoBloque{
    grid-area: ventajas2;
    display: flex;
}
.ventajas  .ventajas__SegundoBloque .ventajas__SegundoBloque--Integracion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.ventajas  .ventajas__SegundoBloque .ventajas__SegundoBloque--Integracion p {
    width: 70%;
    margin: 0 auto;
}
.ventajas  .ventajas__SegundoBloque .ventajas__SegundoBloque--Flexibilidad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.ventajas  .ventajas__SegundoBloque .ventajas__SegundoBloque--Flexibilidad p {
    width: 70%;
    margin: 0 auto;
}



