/* Seccion Formulario */
.formulario{
  display: flex;
  flex-direction: column;
  background-color: #0096d5;
}


/* Seccion de la invitacion a incorporarse al formulario */
.formulario .formulario__Invitacion{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
.formulario .formulario__Invitacion h3{
  margin: 3rem auto 0;
}
.formulario .formulario__Invitacion p{
  width: 70%;
  margin: 1rem auto;
}


/* Secccion de la etiqueta form */

.formulario .formulario__ContainerForm--Form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  padding: 1rem 0;
}
.formulario .formulario__ContainerForm--Form input{
  margin: 0 auto;
  height: 40px;
  font-size: 16px;
}
.formulario .formulario__ContainerForm--Form textarea{
  border: 1px solid #bbb;
  box-sizing: border-box;
  width: 70%;
  border-bottom: 1px solid #bbb;
  padding: 16px;
  margin: 3rem auto;
  background-color: transparent;
  font-size: 16px;
}
.formulario .formulario__ContainerForm--Form .color{
  color: #fff;
}

