.BannerPortfolio {
  margin: 10px;
}

.trabajo {
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: 100px;
  margin: auto;
}
.imagenTrabajo {
  margin-top: 100px;
  margin-left: 100px;
  width: 400px;
  height: 400px;
  background-size: cover;
}

.textos {
  position: relative;
  width: 60%;
  left: 20%;
}
 .category {
  left: 20%;
  position: relative;
  top: 10px;
  color: #0096d5;
}
.Titulo {
  position: relative;
  top: 10px;
  color: #3b3742;
  left: 20%;
}

.ilustracion {
  width: 50%;
  height: 525px;
}

.Button {
  position: relative;
  left: 17%;
  top: 100px;
}


