.BannerPortfolio {
  margin: 10px;
}

.trabajo {
  display: flex;
  width: 90%;
  height: 550px;
  margin: 100px auto;
  justify-content: center;
}

.trabajo:hover {
  cursor: pointer;
  border: 1px solid rgb(4, 4, 4);
  transition: 2s;
}
.imagenTrabajo {
  width: 90%;
  height: 400px;
  object-fit: cover;
}

.imagenTrabajo:hover {
  cursor: pointer;
}

.textos {
  position: relative;
  width: 60%;
  left: 20%;
}
.category {
  left: 20%;
  position: relative;
  top: 10px;
  color: #0096d5;
}
.Titulo {
  position: relative;
  top: 10px;
  color: #3b3742;
  left: 20%;
}

.ilustracion {
  width: 50%;
  height: 525px;
}

.Button {
  position: relative;
  left: 17%;
  top: 100px;
}
