#img {
  height: 500px;
  width: 100%;
  background-image: cover;
  cursor: pointer;
  border: 20px;
}

#img:hover {
  transition: 2s;
}
.SwiperSlide {
  width: 120%;
  max-width: 1600px;
  border: 20px;
}
.swiper-slide {
  width: 100%;
  height: 700px;
  margin: auto;
  overflow: hidden;
}
.titulo {
  position: relative;
  margin: auto;
  width: 90%;
  top: -5px;
  left: -15px;
  font-size: 30px;
}

.divFoto {
  margin-bottom: 100px;
  width: 100%;
  text-align: justify;
}
.divTexto {
  margin: auto 10px;
  width: 100%;
}


.texto {
  position: relative;
  top: 40%;
  left: 2%;
  text-align: justify;
}

@media (max-width: 1000px) {
  #img {
    height: auto;
    width: 100%;
    object-fit: cover;
    padding: 10px 0;
  }
  .slidernone {
    display: none;
  }
}
