.Banner {
  display: flex;
}

.publicitario {
  background-color: #0096d5;
  border-top: 1px solid rgb(65, 64, 64);
  width: 50%;
  height: 525px;
}
img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.b {
  position: relative;
  top: 100px;
  left: -4px;
}
.nem {
  position: relative;
  top: 110px;
}
.argentina {
  position: relative;
  top: 120px;
}

.ilustracion {
  border-top: 1px solid rgb(65, 64, 64);
  width: 50%;
  height: 525px;
}
p {
  position: relative;
  top: 130px;
  text-align: justify;
  margin-left: 150px;
  color: #3b3742;
  width: 400px;
  font-weight: 400;
}

button {
  position: relative;
  left: -145px;
  top: 140px;
  cursor: pointer;
  background-color: #fff8e1;
  border-color: #fff8e1;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: 400;
}

button:hover {
  background-color: #848385;
  border-color: #1e1c21;
  transition: 1s;
}
